[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "http://103.164.191.212:8082/:splat"
  status = 200
  force = true
  [redirects.headers]
    Origin = "http://103.164.191.212:8082"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
